body{
    background-color: rgb(3, 26, 10);
}

#realisations-img{
    min-height: 50vh;
    background-image: url("Image/Bienvenue1.jpg");
}
#teleCharger{
    width: 300px;
    margin: 30px;
}

#Accueil{
    color: darkmagenta;
    width: 100%;
    padding: 70px;
    font-weight: bold;
}

.Welcome{
    font-size: 34px;
}

#SeConnecter{
    width: 220px;
}

.Presentation{
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    margin-top: 370px;
    color: darkmagenta;
}

footer{
    background-color: #181818;
    padding: 30px;
}

.enTete{
    color: darkblue;
    font-weight: bold;
}

.elementNav{
    font-weight: bold;
}
