body{
    background-color: rgb(3, 26, 10);
}

#firstRowHomePage{
    min-height: 60vh;
    background-image: url(Image/Bienvenue.jpg);
    margin-top: auto;
    background-position: center;
}

#teleCharger{
    width: 300px;
    margin: 30px;
}

#Accueil{
    color: red;
    background-color: rgb(3, 26, 10);
    width: 100%;
    padding: 30px;
}

.Welcome{
    font-size: 24px;
}

#SeConnecter{
    width: 250px;
}

.Presentation{
    font-size: 30px;
    font-weight: bold;
}

footer{
    background-color: #181818;
    padding: 30px;
}