

#firstRowHomePage{
    min-height: 50vh;
    background-image: url(Image/Bienvenue.jpg);
    background-position: center;
}

#teleCharger{
    width: 300px;
}

.Accueil{
    font-size: 30px;
    color: red;
}

#SeConnecter{
    width: 250px;
}

.Presentation{
    font-size: 40px;
    font-weight: bold;
}